<div class="mx-4 my-4 flex flex-col gap-3 md:mx-auto md:max-w-screen-md">
  <p class="text-2xl font-semibold uppercase md:text-5xl">
    kompitak fuangkosol
  </p>
  <div class="flex flex-col gap-3">
    <p class="text-xl underline md:text-2xl">Personal info</p>
    <div class="grid-cols-3 gap-3 md:grid">
      <p>Phone: 090-026-9997</p>
      <p>Email: kompitak03&#64;gmail.com</p>
      <p>DOB: 09-Sep-1994</p>
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <p class="text-xl underline md:text-2xl">Technical skill</p>
    <div class="flex flex-col">
      <p class="flex flex-col items-baseline md:flex-row md:gap-2">
        <span class="text-lg font-semibold md:text-xl">Frontend: </span>
        Angular, Node.js, Flutter, Svelte, Tailwind
      </p>
      <p class="flex flex-col items-baseline md:flex-row md:gap-2">
        <span class="text-lg font-semibold md:text-xl">Back-end: </span> Node,
        Elysia, Bun, Hono, Nest.js, Express.js, Php, Java (Spring boot)
      </p>
      <p class="flex flex-col items-baseline md:flex-row md:gap-2">
        <span class="text-lg font-semibold md:text-xl">Database: </span> MySQL,
        Postgres, MongoDB
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <p class="text-xl underline md:text-2xl">Experience</p>
    <div class="flex flex-col gap-2">
      <p class="flex flex-col text-lg md:flex-row md:text-xl">
        <span>Frontend Developer (04/65 – 04/67)</span>
        <span
          >At <i class="underline underline-offset-4">Exzy Co., LTD.</i></span
        >
      </p>
      <ul class="ms-5 list-disc">
        <li>
          Developing project Smart workplace ecosystem (Meeting Room, Hot Desk,
          Locker, Portal, Access Control, Flightboard and Workplace Plus
          Application) work around with shared resource in calendar such as
          Google calendar and Outlook calendar for manage this resource with our
          ecosystem.
        </li>
        <li>
          Develop feature and fix some issue got from user and internal testing.
        </li>
        <li>
          Work with designer to redesign website for make user good experience.
        </li>
        <li>Develop a custom website for customer with three.js.</li>
        <li>Make a custom theme website for customer organize</li>
      </ul>
    </div>
    <div class="flex flex-col gap-2">
      <p class="flex flex-col text-lg md:flex-row md:text-xl">
        <span>Web Developer (02/63 – 03/65)</span>
        <span>
          At <i class="underline underline-offset-4">AIS (Contract)</i>
        </span>
      </p>
      <ul class="ms-5 list-disc">
        <li>
          Design and developing project PLM (Project Create Promotions) with
          Angular and Java (Spring Boot)
        </li>
        <li>Get requirements from users, Design and analysis with teams</li>
        <li>Support team member for develop new feature and fix issue</li>
        <li>System performance analysis and tunning</li>
      </ul>
    </div>
    <div class="flex flex-col gap-2">
      <p class="flex flex-col text-lg md:flex-row md:text-xl">
        <span>Web Developer (06/61– 06/62)</span>
        <span>
          At
          <i class="underline underline-offset-4">
            11 Infotech system Co., LTD.
          </i>
        </span>
      </p>
      <ul class="ms-5 list-disc">
        <li>
          Design, analysis and develop project travel, agency travel to get
          deals from hotels with Angular and PHP
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <p class="text-xl underline md:text-2xl">Education</p>
    <div class="flex flex-col">
      <p>Bachelor of Business Administration (Information System) (2017)</p>
      <p>Prince of Songkhla Universit</p>
    </div>
  </div>
</div>
